<!-- <button (click)="increase()">Increase</button>
<span>{{ (counter$ | async)?.count }}</span>
<button (click)="decrease()">Decrease</button>
<button (click)="reset()">Reset</button> -->

<!-- Calculator Body -->
<div class="calc-body">
  <!-- Calculator Display Screen -->
  <div class="calc-screen">
    <div id="calc-operation">
      Previous Number: {{ (counter$ | async)?.previousNumber }}
    </div>
    <div id="calc-operation">
      Current Number: {{ (counter$ | async)?.currentNumber }}
    </div>
    <div id="calc-typed">{{ (counter$ | async)?.total }}</div>
  </div>

  <!-- Calculator Buttons -->
  <div class="calc-button-row">
    <button class="ac">AC</button>
    <button class="opt">&#43;&#47;&#8722;</button>
    <button class="opt">&#37;</button>
    <button class="opt">&#247;</button>
    <button (click)="number_7()">7</button>
    <button (click)="number_8()">8</button>
    <button (click)="number_9()">9</button>
    <button class="opt">&#215;</button>
    <button (click)="number_4()">4</button>
    <button (click)="number_5()">5</button>
    <button (click)="number_6()">6</button>
    <button class="opt">&#8722;</button>
    <button (click)="number_1()">1</button>
    <button (click)="number_2()">2</button>
    <button (click)="number_3()">3</button>
    <button class="opt" (click)="addition()">&#43;</button>
    <button (click)="number_0()">0</button>
    <button>.</button>
    <button>&#9003;</button>
    <button class="opt">&#61;</button>
  </div>
</div>
